body {
  background-color: #122131;
  font-weight: normal;
  color: #fff; /* basic color for all text tags */
  font-size: 16px; /* default */
  scroll-behavior: smooth;
}

header{
	position: fixed !important;
	width:100% !important;
	z-index:9999999 !important;
}
div.section{
	position: relative;
	top:60px;
}
footer {
	top: 70px;
}


@media (min-width:701px) { 

	.section:not(.centered) {
		display: grid;
		grid-template-columns: 1% 55% 40% 1%;
		grid-template-rows: 50px 0.5fr 0.5fr 0.5fr 50px;
		grid-column-gap: 20px;
		grid-row-gap: 10px;
	}

	.section:not(.centered) > h1 {
		grid-column: 3;
		grid-row: 2;
		z-index:1000;
	}
	.section:not(.centered) > p, .section:not(.centered) > .text {
		grid-column: 3;
		grid-row: 3;
		z-index:1000;
	}
	.section:not(.centered) > .buttons {
		grid-column: 3;
		grid-row: 4;
		flex-wrap: wrap;
		z-index:1000;
	}
	.section:not(.centered) > img {
		grid-column: 2;
		grid-row: 2 / 5; 
		top: 15%;
    	position: relative; 
	}
	.section:not(.centered) > img.hero-img {
		transform: scale(1.6);  
	}

	.section:not(.centered):nth-child(2n) > h1 {
		grid-column: 2;
		grid-row: 2;
		z-index:1000;
	}
	.section:not(.centered):nth-child(2n) > p, .section:not(.centered):nth-child(2n) > .text {
		grid-column: 2;
		grid-row: 3;
		padding: 0 !important;
		
	}

	.section:not(.centered):nth-child(2n) > .buttons {
		grid-column: 2;
		grid-row: 4;
		z-index:1000;
	}
	.section:not(.centered):nth-child(2n) > img {
		grid-column: 3;
		grid-row: 2 / 5; 
		top: 15%;
    	position: relative; 
	}
}



@media (min-width:1000px) { 
	.section:not(.centered) > img.hero-img {
		transform: scale(0.9);  
		top: 0% !important;
	}
	.section:not(.centered) > img {
		grid-column: 2;
		grid-row: 2 / 5; 
		top: 5%;
    	position: relative; 
	}
	.section:not(.centered):nth-child(2n) > img {
		grid-column: 3;
		grid-row: 2 / 5; 
		top: 5%;
    	position: relative; 
	}
	header #menuToggle{
		position: relative;
		left:-10%
	}

}


.section:nth-child(2n){
	background-color:rgba(29, 50, 71, 1);
    grid-template-columns: 1% 40% 55% 1%;
}


#getting-started .section, #download .section, #legal-notice-impressum{
	display: block;
	padding: 4rem 3rem;
}



#getting-started .section:nth-child(2n), #download .section:nth-child(2n-1){
	background-color: #122131 !important;
}

#getting-started, #download {
	padding: 0 !important;
	background-color:rgba(29, 50, 71, 1) !important;
}


/*====================
=====   LEGAL   =====
=====================*/
.address-info {
	width:40%;
	margin: 0 auto 2rem auto;
	padding: 2rem !important;
	background-color: rgba(29, 50, 71, 1) !important;
	border-radius: 0.5rem;
}
.address-info p {
	margin: 0;
    padding: 0;
}


#legal-notice-impressum > p + p {
	margin-bottom: 2rem !important;
}
#legal-notice-impressum {
	background-color:#122131 !important;
}


/*====================
=====  DOWNLOAD  =====
=====================*/
#download > h1, #download > p, #getting-started > h1, #getting-started > p, #legal-notice-impressum > h1, #legal-notice-impressum > p {
	text-align: center;
}

#legal-notice-impressum > h1{
	margin: 2rem auto 2rem auto !important;
}

#download > h1, #getting-started > h1{
	margin: 4rem auto 1rem auto !important;
}

#download > p:not(.free-text), #getting-started > p:not(.free-text), #legal-notice-impressum > p:not(.free-text) {
	margin: 1rem auto 2.5rem auto !important;
}

#download p, #getting-started p, #legal-notice-impressum p, #download .section:not(.centered) h2 + p, .highlight-default, #getting-started h2, #download h2 {
	width:80%;
	max-width:80%;
	margin:0 auto;
}

.highlight-default {
	margin-top:1rem;
	margin-bottom:1rem;
}

.section ul{
	width: 80%;
    max-width: 90%;
    margin: 1rem auto;
}



ul.simple{
	text-align: left;
}

ul.simple li{
	width: 80%;
	max-width:80%;
	margin: 0 auto;

}
ul.simple li::before{
	left: -1rem !important;
	
}


header ul li:before, ul.no-dots li:before {
	display: none;
}

@media (max-width: 768px) {
	#download p, #getting-started p, #legal-notice-impressum p, #download .section:not(.centered) h2 + p {
		max-width:90%;
		width:90%;
		margin:0 auto;
	}
}

.tab-content p {
	margin: 0 auto;
}

#download, #download .section, #getting-started, #getting-started ~ .section {
	display: block;

}

#download {
padding: 0 !important;
}

#download > .section {
	display: flex;
	flex-direction: column;
}


.release {
	display: grid;
	grid-template-columns: 40% 60%;
    grid-template-rows: 2fr 0.5fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    justify-items: stretch;
	align-items: stretch;
	grid-auto-flow: column;
	border-top: 0.5px solid #cecdcd;
	margin-top: 1rem;
	padding-top: 1rem !important;
}


li {
	margin: 0 0 1rem 1rem;
	font-weight: 1pt;
}

.download-boxes {
	display: flex;
	flex-direction: column;
}
.download-boxes * {
	display: block;
}
.download-boxes li {
	background-color: #122131;
	margin-bottom: 1rem;
	border-radius: 1.5rem;
	padding: 0.8rem 1.5rem;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.download-boxes li > p {
	color: #fff;
	margin-left: auto !important;
	margin-right: auto !important;
}


.download-boxes li p em {
	color: #bbbec1;
}

.two-by-two-matrix {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    justify-items: stretch;
	align-items: stretch;
	grid-auto-flow: column;
}
.two-by-two-matrix *{
	display: block;
}
.two-by-two-matrix p:nth-child(3) {
	grid-row: 4;
}
.two-by-two-matrix p:nth-child(4) {
	grid-row: 5;
}

.line-on-top {
	border-top: 2px solid #23cb97;
	padding-top: 1rem !important;
	margin-top: 1rem !important;
}

@media (min-width: 640px) {
	.download-boxes {
		flex-direction: row;
		flex-flow: wrap;
		align-content: start;
		justify-content: center;
	}
	.download-boxes li {
		/*background-color: #122131;*/
		background-color:rgba(29, 50, 71, 1) ;
		margin: 0.5rem !important;
		border-radius: 1.5rem;
		padding: 0.8rem 1rem;
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
		display: flex;
		flex-direction: column;
		height: fit-content;
		width: 150px !important;
		height:130px;
	}
	
	.download-boxes li p {
		flex-direction: column;
		text-align: center;
		margin-bottom: 0;
	}
	.download-boxes a.reference {
		margin: 1rem 0 0 0;
		padding-bottom: 0;
	}

	.two-by-two-matrix {
		display: grid;
		grid-template-columns: repeat(2, 0.7fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 5%;
		grid-row-gap: 10px;
		justify-items: stretch;
		align-items: stretch;
	}
	.two-by-two-matrix p {
		display: block;
	}
	.two-by-two-matrix p:nth-child(3) {
		grid-row: 1;
		grid-column: 2;
	}
	.two-by-two-matrix p:nth-child(4) {
		grid-row: 2;
		grid-column: 2;
	}
	#download .section {
		padding: 3rem 2rem !important;
	}
	#download .release .buttons {
		flex-direction: column;
	}
	
	
	}
	



.download-box {
background-color: #122131;
margin-top: 1rem;
border-radius: 1.5rem;
padding: 0.8rem 1.5rem;
box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.download-box > .container {
display: flex;
flex-direction: row;
justify-content: space-between;
text-align: left;
margin-right: 1rem;
align-items: center;
}

.download-box .download-os {
width: 70%;
}

.download-box .extra {
margin-left: 1rem;
}

.download-box .extra, .download-box .download-os {
width: fit-content;
}

.flex-wrapped {
flex-wrap: wrap;
align-content: baseline;
}

.download-box.source-code {
background-color: #000;
}

div.listing li {
	margin-left: 2rem;
}

div.listing p {
	color: white;
}


/* ============== CONTRIBUTE ============= */
.nav {
padding: 0 0 1rem 0;
}

.bottom-line {
border-bottom: 0.5px solid #cecdcd;
}

.nav + .content {
padding: 1rem 0;
margin: 0 auto;
}

.mini-section {
margin: 1.5rem auto;
}

.mini-section a{
display: inline;
}

.mobile-hidden {
display: none;
}

input.toggle[type='checkbox'] {
display: none;
}

.lbl-toggle {
display: block;
font-weight: bold;
text-align: center;
padding: 1rem;
color: #23cb97;
border: 1px solid #23cb97;
cursor: pointer;
border-radius: 7px;
transition: all 0.25s ease-out;
margin: 0.5rem auto;
}

.toggle:checked + label.lbl-toggle {
color: #fff;
background-color: #23cb97;
}

.lbl-toggle::before {
content: ' ';
display: inline-block;

border-top: 5px solid transparent;
border-bottom: 5px solid transparent;
border-left: 5px solid currentColor;

vertical-align: middle;
margin-right: .7rem;
transform: translateY(-2px);

transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
background: rgba(35, 203, 151, 0.05);
border-bottom: 1px solid rgba(35, 203, 151, 0.45);
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
padding: .5rem 1rem ;
}

.collapsible-content {
max-height: 0px;
overflow: hidden;
transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
max-height: 100%;
}

.toggle:checked + .lbl-toggle::before {
transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}

@media (min-width: 40em) {
.desktop-hidden {
	display: none;
}

.mobile-hidden {
	display: flex;
}

.nav + .content {
	padding: 0 1rem;
}
}












.container {
  padding: 0 0.5rem;
}

.w-1-4 {
  width:25%;
}

.w-3-4 {
  width:75%;
}

.w-40-proz {
  width:40%;
  margin-right:3%;
}

.space-between-container {
  justify-content: space-evenly !important;
}

.vertical-algn-center {
  align-items: center !important;
}

.distance-1rem-top {
  margin-top:1rem;
}

.inline-links a {
  display: inline-block;
  color:#23cb97;
}

.nav-sidebar-left {
  align-self: flex-start;
  align-items: flex-end;
  padding: 1em;
  border-right: 2px solid rgba(255, 255, 255, 0.25);
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 5em; /* minus header */
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.text-block-narrow-lines p:not(:last-child), .text-block-narrow-lines a {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.code {
  background-color: #000000;
  padding: 0.3rem 0.4rem;
  border-radius: 0.3rem;
}

.highlight {
  background-color: #000000 !important;
  padding: 2rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem !important;
  border-radius: 0.5rem;

}

.highlight span {
  word-break: break-all;
}
.highlight pre {
	overflow-y:hidden;
}

.no-padding-on-sides {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

@media (min-width: 701px) {
  .container {
    padding: 0 1rem;
  }
  .container .container {
    padding:0 0.5rem;
  }

  .single-content-block {
    width: 600px;
    margin:0 auto;
  }

  .w-1-2 {
    width:50%;
  }

}

@media (min-width: 66em) {
  .main-container {
    max-width: 65em;
    margin: 0 auto;
  }

}
@media (min-width: 76em) {
  .main-container {
    max-width: 75em;
  }
  .main-container-wide {
    max-width: 75em;
    margin: 0 auto !important;
  }
  .main-container-wide-xl {
    max-width: 75em;
    min-width:70em;
    margin: 2rem auto !important;
  }
}

@media (min-width: 86em) {

  .main-container-wide-xl {
    max-width: 80%;
    min-width:70%;
  }
}

/*====================
===== NAVIGATION =====
=====================*/
header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

header li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}


header .logo {
  display: block;
  float: left;
  font-size: 2em;
  text-decoration: none;
}

/* menu */

header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  display: none;
  border: 1px solid #1d3247;
}

/* menu icon */

header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  right: 30px;
}

header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

header .menu-icon .navicon:before {
  top: 5px;
}

header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

header .menu-btn {
  display: none;
}

header .menu-btn:checked ~ .menu {
	max-height: 30rem;
    position: absolute;
    top: 5.6rem;
    right: 30px;
    display: block;
}

header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  header li {
    float: left;
  }
  header li a {
    padding: 0;
  }
  header .menu {
    clear: none;
    float: right;
    max-height: none;
    display: flex;
    background-color: inherit;
  }
  header .menu-icon {
    display: none;
  }
  header li a {
    padding: 0.5rem 0.5rem;
  }
  header .menu {
    border: none;
  }

  header li {
	  margin: 0 0.2rem !important;
  }
  header #menuToggle{
	position: relative;
	left:-5%
}

}

@media (min-width: 950px) {
	header li {
		margin: 0 1rem !important;
	}
	header #menuToggle{
		position: relative;
		left:-10%
	}
  
  }





/*====================
====== COLORS ======
=====================*/
.bg-primary {
  background-color:rgba(29, 50, 71, 1);
  position: relative;
  z-index: 1;
}

.bg-secondary {
  background-color:#122131;
}


/*====================
====== HEADER/FOOTER ======
=====================*/
header {
  padding: 1rem 5%;
  background: #1d3247;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  justify-content: space-between;
  z-index: 1000;
  flex-direction: row ;
  position: fixed;
  max-height: 60px;
  position: relative;
  width:auto;
  align-items: center;
  justify-items: center;
  align-content: center;
  text-align: center;
}

header .flex-horizonthal{
  align-items: center;
}

#logo img{
  width: 2em;
  height: min-intrinsic;
  margin-right: 0.5rem;
}

footer {
  padding-top: 1em;
  bottom: 0;
  width: 100%;
}

.footer-line {
  margin:1em 0 !important;
}
.footer-line a {
  margin: 0 1em !important;
  display: flex;
  flex-direction: row;
  
}


@media (min-width: 48em) {
  header li:last-child {
    margin-right:0;
  }
  header li, footer a {
    font-size: 0.9rem !important;
    line-height: 1.1rem !important;
  }
  .footer a.text-link::before {
    content: " · ";
    left: -1em;
    position: relative;
    }
  .footer a.text-link:first-child::before {
    content: "";
  }
  footer {
    margin-top: 0.1rem !important;
  }
}

@media (min-width: 640px) {
  header {
    padding: 0.5rem 5%;
  }

}



@media (min-width: 1200px) {
  header {
    padding: 0.5rem 8%;
  }
}
/*====================
===== GET STARTED =====
=====================*/
#getting-started ~ .section p{
	max-width:none !important;
}

#getting-started ~ .section{
	padding: 3rem 1.5rem;
}

#navigation {
	display: block;
}

@media (min-width: 701px) {
	#navigation h1 {
		display: none;
	}

	#navigation {
		padding: 0.5rem !important;
		background:rgba(29, 50, 71, 0.9) !important;
		position: sticky;
		top:0;
		z-index: 1000;
		box-shadow: 2rem 0 2rem rgba(0, 0, 0, 0.4);
	}


	#navigation .navbar p{
		display: flex;
		justify-content: space-between;
		margin-bottom:0;
		padding-bottom: 0;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	#navigation .navbar p a {
		display: inline-block;
		position: relative;
		padding: .5rem 1.5rem .5rem .5rem;
		border: 1px solid;
		border-radius: 10px;
		margin: 0.3rem;
	}
	#navigation .navbar p a:after {
		content: '';
		position: absolute;
		bottom: 1.1rem;
		right: 0.5rem;
		width: 0;
		height: 0;
		border-left: .3rem solid transparent;
		border-right: .3rem solid transparent;
		border-top: 0.3rem solid #23cb97;
		/* margin: 0 auto; */
		z-index: 100;
	}
  }
.section > ul p{
	padding-left:5%;
}
@media (min-width: 800px) {
	#navigation{
		max-width: 25%;
		left: 0;
		top: 10%;
		height: 100vh;
		border-right: white;
		box-shadow: none;
		float: left;
		height:fit-content;
		padding: 2rem !important;
		background:rgba(29, 50, 71, 1) !important;
		border-right: 1px solid #122131;
		margin-left: -5rem;
	}

	#navigation .navbar {
		padding: 0 !important;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	.navbar p{
		display: flex;
		justify-content: space-between;
		margin-bottom:0;
		padding-bottom: 0;
		flex-direction: column;
	}
	#navigation ~ .section h1, #navigation ~ .section > p, #navigation ~ .section > div, #navigation ~ .section > blockquote, #navigation ~ .section > ul{
		position: relative;
		/*padding-left:30%;*/
		width: 65%;
		float:right;
	}

	#navigation ~ .section > p + ul {
		margin-top:0 !important;
	}

	#navigation + .section h1, #navigation + .section p{
		position: relative;
		padding-left:0;
	}
	#navigation .navbar p a {
		display: inline-block;
		position: relative;
		padding: .5rem 1.5rem .5rem .5rem;
		border: none;
		margin: 0;
	}

	#navigtion .navbar {
		display: flex;
		flex-direction: column;
	}
	#navigation .navbar p a:after {
		display: none;
	}

	.mobile-collapsable {
		background-color: #122131 !important;
	}
	.section > ul p{
		padding-left:0;
	}

}


/*====================
======= BODY =======
=====================*/
.section {
  padding: 1rem;
  overflow: hidden;
}

@media (min-width: 801px) {
	.section {
		padding: 3rem 1rem 5rem;
		overflow: hidden;
	  }
}

.flex {
  display: flex;
}

.flex-mobile-algn-horiz { 
  display: flex;
  flex-direction: row;
}

.flex-mobile-algn-vert {
  display: flex;
  flex-direction: column;
}

.flex-mobile-algn-vert-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex .on-the-bottom {
  margin-top: 1rem;
  align-self: center;
}

.centered, .mobile-centered, .centered *, .mobile-centered * {
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}

.centered-together {
  justify-content: space-evenly;
}

.h-right {
  justify-content: flex-end;
}

.h-right-or-v-center {
    align-items: flex-end;
    justify-content: center;
    justify-items: right;
    align-content: flex-end;
    text-align: right;
}

.h-right-or-v-center .buttons {
  justify-content: flex-end;
}

.h-right-or-v-center .buttons p:first-child a {
  margin-left: 2rem;
}

.h-left-or-v-center {
    align-items: flex-start;
    justify-content: center;
    justify-items: left;
    align-content: flex-start;
    text-align: left;
}

.mobile-centered .buttons {
  justify-content: flex-start;
}



.breathing-vertical {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.breathing-vertical-small {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.breathing-vertical-large {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.breathing-vertical-top {
  padding-top: 3.5rem !important;
}

@media (min-width: 701px) {

  .flex-tablet-desktop-algn-horiz {
    display: flex;
    flex-direction: row;
  }

  .flex-tablet-desktop-algn-vert {
    display: flex;
    flex-direction: column;
  }

  .hero h1:after {
	width: 8rem;
    margin: 0;
  }

  .mobile-centered, .mobile-centered *, .desktop-algn-left {
    align-items: flex-start ;
    justify-items: left ;
    align-content: flex-start ;
    text-align: left ;
    margin: unset;
    justify-content: end;
  }

  .desktop-algn-right, .desktop-algn-right * {
    align-items: flex-end ;
    justify-items: right ;
    align-content: flex-end ;
    text-align: right ;
    margin: unset;
  }
  .hero .hero-img {
    width: 70%;
    position: relative;
    transform: scale(1);
  }

  .hero .mobile-centered {
    justify-content: center;
  } 

  .width-desktop-40-percent {
    width: 40%;
    margin: 0 1rem;
  }

  .width-desktop-50-percent {
    width: 50%;
    margin: 0 1rem;
  }
  
  .buttons {
	  padding: 0 !important;
  }


  .button:first-child:not(.info-button):first-child {
    margin-right: inherit;
}
.button:not(.info-button) {
    margin-right: 1rem;
}

  #navigation {
	background: rgba(29, 50, 71, 1) !important;
    border-radius: 5%;
    padding: 0.5rem !important;
    left: 0;
  }


}

@media (min-width: 1024px) {
	.section:not(.centered) {
		display: grid;
		grid-template-columns: 5% 60% 30% 5%;
		grid-template-rows: 50px 0.5fr 0.5fr 0.5fr 50px;
		grid-column-gap: 20px;
		grid-row-gap: 10px;
		justify-items: stretch;
		align-items: stretch;
	}
	.section:nth-child(2n){
		background-color:rgba(29, 50, 71, 1);
		grid-template-columns: 5% 30% 60% 5%;
	}

	.section:not(.centered):nth-child(2n) > img {
		grid-column: 3;
		grid-row: 2 / 5;
	}

	.hero .hero-img {
		width: 100%;
		transform: scale(1.3);
	  }
	#navigation {
	background: #122131 !important;
	border-radius: 5%;
	padding-left: 2rem !important;
	left: -2rem;
	}


}

@media (min-width: 1440px) {

	#download p, #getting-started p, #legal-notice-impressum p, #download .section:not(.centered) h2 + p, .highlight-default {
		width:70%;
		max-width:70%;
		margin:0 auto;
	}

	.section ul{
		width: 80%;
		max-width: 100%;
		margin: 1rem auto;
	}

}

ul li p {
	margin-left: 1.5rem !important;
}


/* ====== BUTTONS ======== */
.buttons {
  display: flex;
  flex-irection: row;
  width: 100%;
  margin-top: 1rem;
}

.button a{
  letter-spacing: 0.05rem;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  display: inline-block;
  height: intrinsic;
  text-transform: uppercase;
  width: max-content;
  margin: 0.5rem auto;
}

.button.primary a{
  color: #fff ;
  background: #23cb97;
}

.button.secondary a {
  color: #fff ;
  border: 2px solid #23cb97;
}

.button.info, .button.info a {
  color: #23cb97 ;
  padding: 0;
  width: max-content;

}

.button.info:after {
  content: url(_static/icons/arrow-right.svg);
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  transform: scale(0.5);
  position: relative;
  top: 0.35rem;
  padding-left: .5rem;
}

.arrow-right {
  background: url(_static/icons/arrow-right.svg) no-repeat top left;
  display:inline-block;
  width: 1.1rem;
  height: 1.1rem;
}

@media (min-width: 640px) {
  .buttons-container .button {
    margin-right: 1rem;
  }
  .buttons-container .button:last-child {
    margin-right: 0;
  }
}

@media (min-width: 1024px) {

}

/*====================
======= MODULES =======
=====================*/
.modules {
  display:flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-evenly;
}

.modules .module-card:nth-of-type(1n+5){ 
  display: none; 
}
.modules .module-card {
	width:100%;
	display: grid;
	margin: 2rem auto 0;
	grid-template-columns: 20% 50% 30%;
	border: 2px solid rgba(35, 203, 151, 0.25);
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
	padding: 0.5rem 1rem;
	border-radius: 2rem;
	min-height: 100px;
  }

.modules .module-card.container {
		padding:0;
}


@media (min-width: 640px) {

.modules .module-card {
	display: flex;
	width: 100%;
	flex-direction: column;
	margin: 2rem auto 0;
	border: 2px solid rgba(35, 203, 151, 0.25);
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
	padding: 0.5rem 1rem;
	border-radius: 2rem;
	min-height: 100px;
	position: relative;
	justify-content: space-between;
  }


.modules .module-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 90%;
	margin: 0 auto;
	border-top: 2px solid rgba(35, 203, 151, 0.25);
	position: relative;
	margin-top:1em;
	bottom: 0;
  }
  
  .modules .module-card {
    width: 35%;
    margin: 1.5rem;
    min-height: 160px;
    overflow: hidden;
  }
  .modules .module-card:nth-of-type(1n+4){ 
    display: flex; 
  }

}

@media (min-width: 1024px) {
  .modules .module-card {
    width: 25%;
    margin: 1.5rem;
    min-height: 250px;
    overflow: hidden;
  }
}


/*===================================
======= index/USAGE EXAMPLES =======
====================================*/

#usage-examples .animation-container {
	display: none;
}

#usage-examples {
	display: flex;
    flex-direction: column;
	align-items: center;
	width:95%;
	margin: 0 auto;
}

#usage-exampls .matrix {
	margin-top: 1rem;
}

#usage-examples > h1 {
	margin-bottom:0;
	margin-top: 1rem;
}

@media (min-width: 767px) {
	#usage-examples .animation-container {
		display: flex;
		flex-direction: row;
	}
  }
@media (min-width: 1024px) {
	#usage-examples {
		width:80%;
	}
  }
.matrix ul li:before{
	height:70%;
	border-radius: 0;
	width: 0.2rem;
	top: 0.3rem;
}

.matrix ul li{
	display: grid;
	grid-template-columns: 5% 95%;
  	grid-template-rows: 100%;
}

.matrix {
	width:110%;
}

.matrix ul {
	display: flex;
	flex-wrap: wrap;
	max-width: 100% !important;
	width: 90% !important;
	margin: 0 auto;
	justify-content: center;
}
.matrix ul li{
	width: 35%;
	margin-left: 2.5rem;
	margin-bottom: 2rem;
}

@media (min-width: 800px) {
	.matrix {
		width:100%;
	}

	.matrix ul li{
		width: 25%;
		margin-left: 2.5rem;
		margin-bottom: 2rem;
	}
}

/*===================================
======= index/USAGE EXAMPLES / animation =======
====================================*/

.animation-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100px;
		overflow: hidden;
		margin: 3rem auto 6rem auto;
		width: 90%;
		justify-content: center;
}

@media (min-width: 767px) {
	.animation-container {
		display: flex;
		flex-direction: row;
		margin:2rem auto;

	}
	.animation-container .moving-block{

		height:150px;
	  }
}

@media (min-width: 1000px) {
	.animation-container {
		display: flex;
		flex-direction: row;
		width:90%;
		
	}
}
  .animation-container > div{
	margin: 10px 20px;
  }
  
  .animation-container .moving-block div.box{
	width: -webkit-fill-available;
	width: -moz-available;
	border: 2px solid #23cb97;
	height: 3rem;
	position: absolute;
	border-radius: 0.5em;
	z-index: 1000;
  }
  .animation-container .moving-block.first div.box {
	top: 1rem;
  }
  .animation-container .moving-block.second div.box{
	top: 1rem;
  }
 
  
  .animation-container .moving-block{
	width:250px;
	position: relative;
	padding:0;
	height:100px;
	overflow:hidden;
  }
  
  .animation-container .moving-block .list {
	position: absolute;
	top: 1.25rem;
	padding: 0 20px 0 0;
	width:100%;
	white-space: nowrap;
  }

  .animation-container .moving-block .list ul {
	width: 90% !important;
	max-width:90% !important;
	margin-top:0;
  }
  
  .animation-container .moving-block .bg-dark {
	height:inherit;
	width: inherit;
	background: linear-gradient(0deg, rgba(18, 33, 49, 1) 0%, rgba(18, 33, 49, 0) 35%, rgba(18, 33, 49, 0) 65%, rgba(18, 33, 49, 1) 100%);
	position: absolute;
	width: inherit;
    height: 120px;
  }

  .animation-container .moving-block.first .bg-dark, .animation-container .moving-block.second .bg-dark {
	top: -15px;
  }

  
  .animation-container .list li{
	margin: 0;
	list-style: none;
	padding: 0 !important;
	line-height: 2.5rem;
	margin-bottom: 0.2rem;
	
  }
  .animation-container .list li::before{
	display: none;
	
  }
  
  .animation-container .list-from {
	-webkit-animation: move-up-down 15s;
	animation-iteration-count: infinite;
  }
  
  .animation-container .list-to {
	-webkit-animation: move-down-up 15s;
	animation-iteration-count: infinite;
  }
  
  @-webkit-keyframes move-down-up{
	  0%{top:45%}
	  50%{top:-125%}
	  100%{top:45%}
  }
  
  @-webkit-keyframes move-up-down{
	  0%{top:-140%}
	  50%{top:35%}
	  100%{top:-140%}
  }
  



/* Tabs mit radio-Buttons */
input {
  display: none;
}

.tab-wrap, .tab-wrap-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  list-style: none;
  padding: 2rem 1rem;
}

.tab-wrap-vertical { 
  flex-irection: column;
  width:30%;
}

.tab:checked:nth-of-type(1) ~ .tab-content:nth-of-type(1), .tab:checked:nth-of-type(2) ~ .tab-content:nth-of-type(2), .tab:checked:nth-of-type(3) ~ .tab-content:nth-of-type(3) {
  opacity: 1;
  -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
  transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  text-shadow: 0 0 0;
  margin-top:3rem;
}

.tab:checked + label {
  color: #23cb97;
  border-bottom: 2px solid #23cb97;
}

.tab + label {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 800;
  color: white;
  cursor: pointer;
  display: block;
  text-decoration: none;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
          flex-grow: 3;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
  height: 2rem;
  padding: 0.5rem 1.5rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  
}

.tab-content {
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0;
  left: 0;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  border-radius: 6px;
}
/*
.grid-container {
  display: grid;
  grid-template-columns: 25% 70%;
  grid-template-rows: max-content max-content max-content;
  gap: 0px 5%;
  grid-template-areas: "navPoint_1 content" "navPoint_2 content" "navPoint_3 content" "navPoint_4 content";
}

.navPoint_1 { 
  grid-area: navPoint_1; 
  border-right: 1px solid #bbbec1;
  padding-right:1.5rem;
  text-align:right;
}

.navPoint_2 { 
  grid-area: navPoint_2; 
  border-right: 1px solid #bbbec1;
  padding-right:1.5rem;
  text-align:right;
}

.navPoint_3 { 
  grid-area: navPoint_3; 
  border-right: 1px solid #bbbec1;
  padding-right:1.5rem;
  text-align:right;
}
.navPoint_4 { 
  grid-area: navPoint_4; 
  border-right: 1px solid #bbbec1;
  padding-right:1.5rem;
  text-align:right;
}

.content { grid-area: content; }
 */
 @media (min-width: 640px) {
    .tab-content {
      padding: 0.5rem 2.5rem;
    }
  }


/* ============== DOWNLOAD ============= */


/* ============== TABLEs ============= */
table {
  margin-bottom:1rem !important;
}

table td {
  padding: 0.5rem;
  vertical-align: middle;
}

table td:last-child {
  border-right: 0px solid black;
}

table tr, table th {
  border-bottom: 1px solid rgba(45, 62, 78, 1);
  vertical-align: middle;
}

table tr:last-child, table th:last-child {
  border-bottom: 0px solid rgba(45, 62, 78, 1);

}

/* table tr:nth-child(even){background-color: #1d3247}*/

table tr:hover {background-color: #1d3247}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #1e3247;
  color: white !important;
  text-transform: uppercase;

}

table th p {
  color: #23cb97;
  text-align: left;
  padding-left: 1rem;
}

.algn-left p{
	text-align: left;
}

.free-text {
	margin: 1rem auto 3rem auto !important;
	padding-top: 1rem;
	position: relative;
	text-align: center;
}

.free-text:before {
	content: '';
  background-color: #23cb97;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.1em;
  width: 6rem;
  margin: 0 auto;
  border-top: 1px solid black;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 700px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 700px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 700px),
only screen and (        min-device-pixel-ratio: 2)      and (max-width: 700px),
only screen and (                min-resolution: 192dpi) and (max-width: 700px),
only screen and (                min-resolution: 2dppx)  and (max-width: 700px) { 
/* Small screen, retina, stuff to override above media query */
#getting-started .section, #download .section, #legal-notice-impressum {
	padding: 3rem 1rem;
}

/* INDEX.RST */
	.section:not(.centered) {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 1fr 0.2fr 0.3fr 0.3fr;
		column-gap: 5%;
		row-gap: 0.5rem;
		text-align: center;
		text-align: -webkit-center;
		/*display:flex;
		flex-direction:column;*/
	}
	.section {
		justify-items: center;
	}
	.section:not(.centered) img {
		grid-row: 1;
	}

	.hero {
		text-align: center;
		justify-items: center;
	}
	.section img {
		transform: scale(1);
	}
	.buttons {
		flex-direction: column;
		align-items: center;
	}
	footer .socials p{
		display: none;
	}

/* DOWNLOAD.RST */
	.release {
		display: flex;
		flex-direction: column;
		}

	.release > ul:first-child {
		text-align:left; 
		position: relative;
		left: 5%;
	}
	strong {
		color:#fff;
		font-weight: 700;
	}
	.download-boxes {
		margin-top: 2rem;
	}
	.download-boxes {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width:110%;
		margin: 1rem auto 0 auto;
		position: relative;
		justify-content: center;

	}
	.download-boxes li {
		background-color: rgba(29, 50, 71, 1) !important;
		width:70%;
		margin: 0.5rem;
	}

	
	#download p, #getting-started p, #legal-notice-impressum p {
		width: 95%;
		margin: 0 auto;
	}
	.two-by-two-matrix {
		display: flex;
		flex-direction: column;

	}
	.two-by-two-matrix .button {
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		position: relative;
		top:-1rem;
	}
	.two-by-two-matrix .button:last-child {
		border-bottom: none;
	}

	.highlight-default {
		text-align: left !important;
	}
	.highlight {
		padding: 1rem;
		overflow-x:scroll;
		overflow-y: hidden;}
	.algn-left p{
		text-align: left !important;
	}

/* GETSTARTED.RST */
	#getting-started > p:not(.free-text)	 {
		margin-bottom: 1rem !important;
	}
	.tab-content {
		text-align:left;
	}
	#navigation {
		display: none !important;
	}
	
	.mobile-collapsable {
		background-color:rgba(29, 50, 71, 1);
		height: 1.3rem;
		overflow: hidden;
		box-shadow: -2rem 0 2rem 2rem rgba(0, 0, 0, 0.4);
		position: relative;
		transition: all 1s ease-in-out;
	}

	.mobile-collapsable p {
		text-align:left !important;
	}

	.mobile-collapsable:after {
		content: '';
		position: absolute;
		bottom: 0.5rem;
		left: 0;
		right: 0;
		width:0;
		height:0;
		border-left: 1.5rem solid transparent;
		border-right: 1.5rem solid transparent;
		border-top: 1rem solid #23cb97;
		margin: 0 auto;
		z-index: 100;
	}

	.mobile-collapsable:first-child {
		box-shadow: none;
	}
	.mobile-collapsable:active,  .mobile-collapsable:hover{
		height:auto;
		transition: height 1s ease-in-out;
	}
	.mobile-collapsable:active:after,  .mobile-collapsable:hover:after{
		display: none;
	}

	.mobile-collapsable h2 {
		font-size: 2rem;
	}
	.section-with-sidebar.sidebar {
		display: none !important;
	}

	.section-with-sidebar .section{
		padding-bottom: 4rem !important;
		padding-top:0 !important;
		top: 0;
	}
	.section-with-sidebar .section h2{
		font-size: 1.3rem;
		line-height: 1.5rem;
		padding-bottom: 1rem;
	}
	.section-with-sidebar.content {
		padding: 0  0 8rem 0!important;
	}

	#getting-started ~ footer {
		top:0;
	}

	/* LEGAL.RST */
	.address-info {
		width:70%;
	}


}

.no-animation {
	-webkit-animation: none !important;
}


/* SECTION WITH SIDEBAR */
.section-with-sidebar > h1 {
	display: none;
}

.section-with-sidebar .section, .section-with-sidebar.sidebar p {
	display: flex;
	flex-direction: column;
}

.section-with-sidebar.sidebar {
	width:200px;
	float:left;
	position: sticky;
	position: -webkit-sticky;
}

.section-with-sidebar, .section-with-sidebar .section {
	background-color: #122131 !important;
}

.section-with-sidebar .section {
	padding-top: 5rem;
	padding-bottom: 0rem;
}
.section-with-sidebar .section:first-of-type {
	padding-top: 0rem;
}
.section-with-sidebar .section:last-of-type {
	padding-bottom: 5rem;
}

.section-with-sidebar.sidebar, .section-with-sidebar .links {
	margin-top: 10%;
	margin-bottom: 100px;

}

.section-with-sidebar .links {
	border-right: 1px solid #fff;
	display: flex;
    flex-direction: column;
}

.section-with-sidebar .links a {
	padding-bottom: 1rem !important;
}



.flying-news-block {
	display: flex !important;
    margin: 0 auto;
    text-align: center;
	justify-content: center;
	position: absolute !important;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top:90px !important;
	text-align: center;
	background-color: #142331;
	border-radius: 3rem;
    max-width: 70%;
    height: 50px;
    padding: 0;
}
.flying-news-block h1 {
	font-size: 1rem;
    line-height: 1.7;
	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
	background-color: #1EB0FC;
	border-radius: 3rem;
	padding: 0.2rem 1rem !important;
	margin: 0.5rem !important;
	white-space: nowrap;
}


/* ==================== */
/*   404 - Error page   */
/* ==================== */
.error-page-img {
	width: 30%;
	background-color:#122131;
}
.error-page-inside {
	display: flex !important;
	flex-direction: column;
	top: 0 !important;
	margin: 0 auto !important;
	padding: 0 !important;
	align-items: center;
	background-color: #122131 !important;
}

.error-page-inside * {
	margin: 0.5rem auto !important;
}

.error-page-inside h1 {
	display: none;
}

header + .error-page-inside {
	top: 100px !important;
	background-image: url(_static/illustrations/404-MilkyWay.svg);
	background-size: 90%;
    background-repeat: repeat-x;

}

.error-page-inside:last-child {
	padding-bottom: 80px !important;
}

