
html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #122131;
    font-family: 'Open Sans', 'Droid Sans', Arial, sans-serif;
    font-weight: normal;
    color: #fff; /* basic color for all text tags */
    font-size: 16px; /* default */
}

main {
      /* min-height: 100%;
      Equal to height of footer
      margin-bottom: -100px;
      position:relative; */
      z-index: -1;
      position: relative;
}

section, .section {
    padding: 3rem 5%;
    overflow-x: hidden;
}

.mini-section {
  margin: 1rem 2rem;
  position: relative;
}

.mini-section::after {
  content: '';
  background-color: rgba(35, 203, 151, 0.4);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.03em;
  width: 4rem;
  
}

.flex {
    display: flex;
}

.flex-horizonthal {
    flex-irection: row;
}

.flex-vertical {
    flex-irection: column;
}

.flex .on-the-bottom {
  margin-top: auto;
}

.centered {
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    text-align: center;
}

.centered-together {
  justify-content: space-evenly;
}

.h-right {
  justify-content: flex-end;
}

.h-right-or-v-center {
    align-items: flex-end;
    justify-content: center;
    justify-items: right;
    align-content: flex-end;
    text-align: right;
}

.h-right-or-v-center .buttons {
  justify-content: flex-end;
}

.h-right-or-v-center .buttons p:first-child a {
  margin-left: 2rem;
}

.h-left-or-v-center {
    align-items: flex-start;
    justify-content: center;
    justify-items: left;
    align-content: flex-start;
    text-align: left;
}

.h-left-or-v-center .buttons {
  justify-content: flex-start;
}

.distance-1rem-top {
  top: 1rem;
  position: relative;
}

.w-1-3 {
    width: 33%;
    margin: 0 2rem;
}

.w-2-3 {
  width: 66%;
  margin: 0 2rem;
}

.w-1-4 {
  width: 25%;
  margin: 0 2rem;
}

.w-3-4 {
  width: 75%;
  margin: 0 2rem;
}

.w-40-proz {
    width: 40%;
    margin: 0 2rem;
}

.w-60-proz-centered {
  width: 60%;
  margin: 5rem auto;
}

.w-90-proz-centered {
  width: 90%;
  margin: 5rem auto;
}

.w-1-2 {
    width: 50%;
    margin: 0 2rem;
}

.no-margin {
  margin: 0 !important;
}
.left-right-margin {
  margin: 0 3rem !important;
}

.breathing-vertical {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.breathing-vertical-small {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.breathing-vertical-large {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.breathing-vertical-top {
  padding-top: 3.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* ====== BUTTONS ======== */
.buttons {
    display: flex;
    flex-irection: row;
    width: 100%;
}

.primary-button a{
    color: #fff !important;
    background: #23cb97;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    display: inline-block;
    height: intrinsic;
    text-transform: uppercase;
    width: max-content;
    margin-top: 2rem;
    font-weight: 900;
    letter-spacing: 0.05rem;
}

.secondary-button a {
    color: #fff !important;
    border: 2px solid #23cb97;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    display: inline-block;
    height: intrinsic;
    text-transform: uppercase;
    width: max-content;
    margin-top: 2rem;
    font-weight: 900;
    letter-spacing: 0.05rem;
}

.info-button, .info-button a {
    color: #23cb97 !important;
}

.info-button:after {
  content: url(img/icons/arrow-right.svg);
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  transform: scale(0.5);
  position: relative;
  top: 0.35rem;
  padding-left: .5rem;

}

.arrow-right {
    background: url(img/icons/arrow-right.svg) no-repeat top left;
    display:inline-block;
    width: 1.1rem;
    height: 1.1rem;
}
/* ====== HEADER ======== */
header {
    padding: 1rem 5%;
    background: #1d3247;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    justify-content: space-between;
    z-index: 1000;
    width:100%;
    flex-irection: row !important;
    max-height: 30px;
    position: fixed;
}

header #menuToggle {
  height: 100vh;
  padding-top: 1rem;
  padding-right: 2rem;
  top: 2.9rem;
  z-index: -1000;
  background: rgba(0,0,0,0.5);
  position: relative;
}

header #menuToggle *{
  align-items: flex-end;
}


header .flex-horizonthal{
    align-items: center;
}
#logo img{
    width: 3.5rem;
    height: min-intrinsic;
    margin-right: 0.5rem;
}



/* ====== FOOTER ======== */
footer {
    min-height: 60px;
    padding: 0.5rem 10%;
    background: #1d3247;
    box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.16);
    display:flex;
    flex-irection: column;
}

footer .footer-line {
  margin: 1rem auto;
  justify-content: center;
}

footer .footer-line:first-child {
  margin-bottom: 2rem;
}


/* ====== HERO ======== */
.hero {
  position: relative;
  top:30px;
  z-index: -1;

}

.hero .special-img {
    width: 100%;
    position: relative;
    z-index: -10;
    transform: scale(1.2);
}

.hero > div {
    justify-content: center;
    width: 100%;
}



/* ====== COLORS ======== */
.bg-primary-color, #download {
    background-color:rgba(29, 50, 71, 1);
    position: relative;
    z-index: -11;
}

.bg-secondary-color {
    background-color:#122131;
}


/* ====== MODULES AND MODULE CARDS ======== */
.modules {
    flex-wrap: wrap;
    margin: 2rem auto;
}

.modules .module-card {
    width:20%;
    border-radius: 10%;
    border: 1px solid #102840;
    margin: 1rem;
}

.modules .module-card h3 {
    display:block;
    background: linear-gradient(#122131 40%, #23cb97 400%);
    text-align: center;
    padding: 1rem;
    word-break: break-word;
}

.modules .module-card p {
    width:80%;
    margin: 1rem auto;
}

.modules .module-card p:last-child{
    text-align: right;
}


.img-container {
  background-color: rgba(0,0,0,0.2);
  margin: 0 auto;
}

.medium-img {
  width: 30rem;
  height: 20rem;
}


/* ============== DOWNLOAD ============= */
#download h1{
  text-align: center;
}

#download {
  padding: 0 !important;
}

.line-on-the-top {
  border-top: 0.5px solid #cecdcd;
  margin-top: 1rem;
  padding-top: 1rem;
}

.flex-with-line-between {
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 2rem;
}
.flex-with-line-between >div{
  flex: 1 1 20em;
  border-left: 0.5px solid #cecdcd;
  margin-left: -0.5px;
}

.flex-with-line-between > div p:first-child {
  width:70%;
  margin: 0 auto;
}

.one-list-item {
  margin: 0 0 1rem 1rem;
}

.one-list-item p {
  display: inline;
}

.download-box {
  background-color: #122131;
  margin: 1.5rem;
  border-radius: 1.5rem;
  padding: 0.8rem 1rem;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}

.download-box .download-os {
  width: 70%;
}

.download-box .extra, .download-box .download-os {
  width: fit-content;
}

.flex-wrapped {
  flex-wrap: wrap;
}

.download-box.source-code {
  background-color: #000;
}

.one-list-item::before {
    content: "";
    font-size: larger;
    color: red;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    background-color:#cecdcd;
    position: relative;
    bottom: -0.5rem;
}




/* Tabs mit radio-Buttons */
input {
  display: none;
}

.tab-wrap, .tab-wrap-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  list-style: none;
}

.tab-wrap-vertical { 
  flex-irection: column;
  width:30%;
}

.tab:checked:nth-of-type(1) ~ .tab-content:nth-of-type(1), .tab:checked:nth-of-type(2) ~ .tab-content:nth-of-type(2), .tab:checked:nth-of-type(3) ~ .tab-content:nth-of-type(3) {
  opacity: 1;
  -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
  transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  text-shadow: 0 0 0;
  margin-top:3rem;
}

.tab:checked + label {
  color: #23cb97;
  border-bottom: 2px solid #23cb97;
}

.tab + label {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #bbbec1;
  cursor: pointer;
  display: block;
  text-decoration: none;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
          flex-grow: 3;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
  height: 50px;
  padding: 0.5rem 1.5rem;
}

.tab-content {
  padding: 0.5rem 2.5rem;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0;
  left: 0;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  border-radius: 6px;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 70%;
  grid-template-rows: max-content max-content max-content;
  gap: 0px 5%;
  grid-template-areas: "navPoint_1 content" "navPoint_2 content" "navPoint_3 content" "navPoint_4 content";
}

.navPoint_1 { 
  grid-area: navPoint_1; 
  border-right: 1px solid #bbbec1;
  padding-right:1.5rem;
  text-align:right;
}

.navPoint_2 { 
  grid-area: navPoint_2; 
  border-right: 1px solid #bbbec1;
  padding-right:1.5rem;
  text-align:right;
}

.navPoint_3 { 
  grid-area: navPoint_3; 
  border-right: 1px solid #bbbec1;
  padding-right:1.5rem;
  text-align:right;
}
.navPoint_4 { 
  grid-area: navPoint_4; 
  border-right: 1px solid #bbbec1;
  padding-right:1.5rem;
  text-align:right;
}

.content { grid-area: content; }


@media all and (-ms-high-contrast:none) {
  .grid-container {
    display: -ms-grid;
    -ms-grid-columns: 25% 70%;
    -ms-grid-rows: max-content max-content max-content;
  }

  .navPoint_1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    border-right: 1px solid #bbbec1;;
    padding-right:0.5rem;
    text-align:right;
  }

  .navPoint_2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    border-right: 1px solid #bbbec1;;
    padding-right:0.5rem;
    text-align:right;
  }

  .navPoint_3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    border-right: 1px solid #bbbec1;;
    padding-right:0.5rem;
    text-align:right;
  }

  .navPoint_4 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    border-right: 1px solid #bbbec1;;
    padding-right:0.5rem;
    text-align:right;
  }

  .content {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }

}


.configuration-img {
  width:35rem;
  position: absolute;
  top:-7rem;
  right:-7rem;
  z-index: -10;
} 


/*====================
======= MOBILE =======
=====================*/

@media (max-width: 639px) {
  .w-1-3, .w-2-3, .w-1-4, .w-3-4, .w-40-proz, .w-60-proz-centered, .w-90-proz-centered, .w-1-2 , div{
    width: 100% !important;
  }

  .flex-horizonthal {
    flex-irection: column;
  }

  .hero {
    flex-irection: column-reverse;
  }

  .hero img {
    widows: 120%;
  }

  #logo {
    flex-irection: row;
  }

  .h-left-or-v-center,.h-left-or-v-center * {
 
    text-align: center;
  }
  .h-left-or-v-center{
    margin-top: 2rem;
  }

  .h-left-or-v-center h1::after {
    margin:auto !important;
  }
}



/*====================
======= TABLET =======
=====================*/

@media (min-width: 640px) and (max-width: 767px){
  header {
    padding:0;
  }

  section, .section {
    padding: 3rem 1%;
    overflow-x: hidden;
    min-height: 60vh;
  }

  .hero {
    padding: 6rem 1%;
  }

  .hero .special-img {
    width: 120%;
    right: -2rem;
    position: relative;
    right: 0rem;
    z-index: -10;
    transform: scale(2.5);
    opacity: 0.7;
  }

  .modules {
    margin: 2rem auto;
    justify-content: space-evenly;
  }

  .modules .module-card {
    width: 40%;
  }

  .modules .module-card p {
    width: 80%;
    margin: 0.5rem auto;
  }

  .w-40-proz {
    width: 60%;
  }

  .w-60-proz-centered, .w-90-proz-centered {
    margin: 3rem auto;
  }



/*====================
=== TABLET-DESKTOP ===
=====================*/
@media (min-width: 768px) and (max-width: 1000px){
  .hero .special-img {
    width: 150%;
    
  }
}


@media (min-width: 768px){
  #logo img{
    width: 4rem;
    height: min-intrinsic;
    margin-right: 1rem;
  }

  .hero .special-img {
    width: 120%;
    right: -2rem;
    position: relative;
    right: -5rem;
    z-index: -10;
    
  }

  .hero{
    top:auto;
  }

  .hero > div {
      justify-content: center;
      width: 50%;
  }

  header {
    max-height: 50px;
    position: relative;
    width:auto;
  }

  header #menuToggle {
    height: auto;
    right: 0;
    padding-top:0;
    padding-right: 0;
    top:0;
    z-index: 1000;
    background: unset;
  }

  header #menuToggle *{
    align-items: center;
  }

  
}
  
@media (min-width: 1200px){
  
...
  
}