html {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Open Sans', serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	background-color: rgba(29, 50, 71, 1);
	position: relative;
}

.flex-vertical-reverse{
	display: flex;
	align-items:center;
	flex-direction: column-reverse;
}

.flex-vertical {
	display: flex;
	align-items:center;
	flex-direction: column;
}

.flex-horizonthal-reverse{
	display: flex;
	align-items:center;
	flex-direction: row-reverse;
	justify-content: center;
}

.flex-horizonthal {
	display: flex;
	align-items:center;
	flex-direction: row;
}


.flex-horizonthal-reverse .logo {
	width:10%;
	margin: 0 20px 0 0;
}

body::after {
	content: '';
	display: block;
	height: 50px; /* Set same as footer's height */
}

footer {
	bottom: 0;
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

body {
	display: flex;
	align-items:center;
	flex-direction: column;
	position: relative;
	margin: 0 auto;
	padding:0;
	overflow-y: auto;
	width: 100%;
}

.logo {
	display: block;
	position: relative;
	background-color: transparent;
	width: 70%;
	margin: 0 auto;
}

body.impressum .logo, body.datenschutz .logo {
	width: 150px;
	height: auto;
}

.buttons {
	display: flex;
	flex-direction: column;
	margin: 20px auto;
	justify-content:center;
}

.button {
	display: block;
	padding: 15px 30px;
	margin: 5px 10px;
	text-align: center;
	letter-spacing: 0px;
	color: rgba(255, 255, 255, 1);
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0);
	font-weight: 700;
	font-style: normal;
	font-family: 'Open Sans', Arial;
	text-decoration: none;
	box-shadow: none;
	overflow-x: unset;
	overflow-y: unset;
	border-bottom-color: rgba(35, 203, 151, 1);
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-left-color: rgba(35, 203, 151, 1);
	border-left-style: solid;
	border-left-width: 2px;
	border-right-color: rgba(35, 203, 151, 1);
	border-right-style: solid;
	border-right-width: 2px;
	border-top-color: rgba(35, 203, 151, 1);
	border-top-style: solid;
	border-top-width: 2px;
	border-top-left-radius: 34px;
	border-top-right-radius: 34px;
	border-bottom-left-radius: 34px;
	border-bottom-right-radius: 34px;
}

.button-cta {
	background-color: rgba(35, 203, 151, 1);
	color: rgba(255,255,255,1)
}

.button-secondary {
	background-color: transparent;
}



.button_inline {
	display: inline-block;
	margin: 10px 20px;
	font-size: 1.2rem;
	line-height: 1.3rem;
}


span.space {
	display: block;
	width: 100%;
	height: 0.5rem;
}

.text-aligh-left-50vw {
	width: 50vw;
	text-align: left;
}

.center-half {
	width: 80vw;
	margin: 0 auto;
}

/* =========================== */
/* ========= FONTS =========== */
/* =========================== */
.italic {
	font-style: italic;
}

a {
	text-decoration: none;
}

p{
	color: rgba(201, 201, 201, 1);
	font-weight: 400;
	font-style: normal;
	font-size: 1rem;
	line-height: 1.2rem;
	font-family: 'Open Sans', Arial;
	letter-spacing: 0;
	text-decoration: none;
}

.description {
	background-color: rgba(255, 255, 255, 0);
	text-align: center;
	letter-spacing: 0px;
	color: rgba(201, 201, 201, 1);
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0);
	font-weight: 400;
	font-style: normal;
	font-family: 'Open Sans', Arial;
	text-decoration: none;
	box-shadow: none;
	margin: 40px auto;
}

.text {
	color: rgba(201, 201, 201, 1);
	font-weight: 400;
	font-family: 'Open Sans', Arial;
	letter-spacing: 0;
	text-decoration: none;
	margin: 1.5rem 0;
}

.title {
	background-color: rgba(255, 255, 255, 0);
	text-align: center;
	letter-spacing: 0px;
	color: rgba(35, 203, 151, 1);
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0);
	font-weight: 700;
	font-style: normal;
	font-family: 'Open Sans', Arial;
	text-decoration: none;
	box-shadow: none;
	font-size: 1.7rem;
	line-height: 1.8rem;
}

h3 {
	background-color: rgba(255, 255, 255, 0);
	text-align: left;
	letter-spacing: 0px;
	color: rgba(255, 255, 255, 1);
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0);
	font-size: 1.7rem;
	line-height: 1.8rem;
	font-weight: 700;
	font-style: normal;
	font-family: 'Open Sans', Arial;
	text-decoration: none;
	box-shadow: none;
}

.capitals_white {
	color: rgba(255, 255, 255, 1);
	font-weight: 700;
	font-style: normal;
	font-family: 'Open Sans', Arial;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: uppercase;
}

.title-highlight_green {
	color: rgba(35, 203, 151, 1);
	font-weight: 700;
	font-style: normal;
	font-family: 'Open Sans', Arial;
	letter-spacing: 0;
	text-decoration: none;
}

.text-highlight_green, .link {
	color: rgba(35, 203, 151, 1);
	font-weight: 400;
	font-style: normal;
	font-family: 'Open Sans', Arial;
	letter-spacing: 0;
	text-decoration: none;
}

.text-small {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.2rem;
	font-family: 'Open Sans', Arial;
	letter-spacing: 0;
	text-decoration: none;
	margin: 2rem 0;
}

.button, .text{
	font-size: 1.5rem;
	line-height: 1.6rem;
}

.heading {
  margin: 30px auto 0 auto;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  line-height: 40px;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 2rem;
  line-height: 2.1rem;
  font-weight: 700;
  font-style: normal;
  font-family: 'Open Sans', Arial;
  text-decoration: none;
  box-shadow: none;
}
