/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width: 376px) and (max-device-width: 600px) {
  .center-half {
    width: 70vw;
  }

  .logo {
  	width: 70%;
  }

  .buttons {
  	flex-direction: row;
  }

  .text, .button {
  	font-size: 1.1rem;
  	line-height: 1.2rem;
  }

  .text-aligh-left-50vw {
  	width: 80%; /* tablet */
  }

  .flex-horizonthal-reverse .logo {
  	width:20%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 700px) {
  .center-half {
    width: 60vw;
  }

  .logo {
  	width: 60%;
  }

  .buttons {
  	flex-direction: row;
    padding: 10px 30px;
  }

  .text, .button {
  	font-size: 1.1rem;
  	line-height: 1.2rem;
  }
  .text-aligh-left-50vw {
    width: 60%; /* tablet */
  }
  .flex-horizonthal-reverse .logo {
    width:20%;
  }
}
